---
name: CI
on: [pull_request]

jobs:
  build:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - name: Environment debug
        run: |
          env
      - name: Check out code into the Go module directory
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          token: ${{ secrets.GORELEASER_GITHUB_TOKEN }}
          ref: ${{ github.head_ref }}
      - name: Sync Dependencies
        run: bazel run //:vendor
        if: (github.actor == 'dependabot-preview[bot]') || (github.actor == 'renovate[bot]')
      - name: autocommit
        uses: stefanzweifel/git-auto-commit-action@v6.0.1
        with:
          commit_message: Apply syncdeps changes
          branch: ${{ github.head_ref }}
          file_pattern: 'vendor/*'
          add_options: '--force'
        env:
          GITHUB_TOKEN: ${{ secrets.GORELEASER_GITHUB_TOKEN }}
        if: (github.actor == 'dependabot-preview[bot]') || (github.actor == 'renovate[bot]')
      - name: Install playwright browsers
        run: |
          npm install @playwright/test
          npx playwright install --with-deps
      - name: Cache Bazel
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/bazel
          key: ${{ runner.os }}-bazel-${{ hashFiles('.bazelversion', '.bazelrc', 'WORKSPACE', 'WORKSPACE.bazel', 'MODULE.bazel') }}
          restore-keys: |
            ${{ runner.os }}-bazel-
      - name: Test
        run: |
          # build and run unit tests with coverage reporting
          # running everything from the coverage command because our nextjs embedding is slow and doesn't
          # have proper build artifact detection so it always re-runs, so this is faster than multiple
          # bazel commands in CI
          bazel coverage //...
          echo "coverage_files=$(find bazel-out/ -name 'coverage.dat' -printf '%p, ' | sed 's/, $//')" >> $GITHUB_ENV
      - name: Detected Coverage Files
        run: echo ${{ env.coverage_files }}
      - uses: codecov/codecov-action@v5
        name: codecov upload
        with:
          files: ${{ env.coverage_files }}
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - name: setup-syft
        run: |
          curl -sSfL https://raw.githubusercontent.com/anchore/syft/main/install.sh | \
          sh -s -- -b /usr/local/bin v1.33.0
      - name: dry run goreleaser
        uses: goreleaser/goreleaser-action@master
        env:
          POWERSHELL_TELEMETRY_OPTOUT: true
        with:
          version: latest
          args: release --snapshot --skip=publish
      - uses: actions/upload-artifact@v5
        with:
          name: vbs-snapshot-macos
          path: bazel-bin/bdist/vbs_darwin_amd64/vbs
      - uses: actions/upload-artifact@v5
        with:
          name: vbs-snapshot-macos-m1
          path: bazel-bin/bdist/vbs_darwin_arm64/vbs
      - uses: actions/upload-artifact@v5
        with:
          name: vbs-snapshot-windows
          path: bazel-bin/bdist/vbs_windows_amd64/vbs.exe
      - uses: actions/upload-artifact@v5
        with:
          name: vbs-snapshot-linux
          path:  bazel-bin/bdist/vbs_linux_amd64/vbs
