name: Fly Deploy
on:
  push:
    branches:
      - main
env:
  FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
jobs:
  deploy:
      name: Deploy app
      environment:
        name: production
        url: https://vbs.fly.dev
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        - name: Cache Bazel
          uses: actions/cache@v5
          with:
            path: |
              ~/.cache/bazel
            key: ${{ runner.os }}-bazel-${{ hashFiles('.bazelversion', '.bazelrc', 'WORKSPACE', 'WORKSPACE.bazel', 'MODULE.bazel') }}
            restore-keys: |
              ${{ runner.os }}-bazel-
        - name: Login to GitHub Container Registry
          uses: docker/login-action@v3
          with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}
        - name: Push vbs image to ghcr.io
          run: bazel run --define=IMAGE_TAG=experimental.${{ github.ref_name }} --stamp //:push_image
        - uses: superfly/flyctl-actions/setup-flyctl@master
        - run: flyctl deploy --remote-only --image ghcr.io/kindlyops/vbs:experimental.${{ github.ref_name }}
          env:
            FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
